.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
*.log
.env
.env.local
*.key
*.json
!package.json
!package-lock.json
!tsconfig.json
!idls/*.json
!Cargo.toml
!Cargo.lock
!Anchor.toml
